:root {
  /* color */
  --HEADER-BGCOLOR: #303137; 
  --HEADER-COLOR: #c3cae1;
  --FCOLOR: #c3cae1;
  --BCOLOR: #222831;
  / 
  
  /* FONTS */
  --FONT-FAMILY: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}



/* Text */
h1, h2, h3 , h4, h5, h6 {
    font-family: 'Anton', sans-serif;
    color: var(--HEADER-COLOR);
    
  }
  p {
    font-family: var(--FONT-FAMILY);
    color: var(--FCOLOR);
  }

* {
 
    scroll-behavior: smooth;
}
  /* Navigation bar */

/* General */
.customNav {
  position: fixed;
  width: 100%;
  background-color: rgba(101, 118, 151, 0.7);
  background-size: cover;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0px
}

.nav-item{
  margin: 0px 15px;
    
}

.nav-item:hover{
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    background-color:#5f6d83;
}



/* Jumbotron */

.jumbotron {
  background-image: url(../Images/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  }
  .imageContainer img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    border: solid;
    border-width: thin;
  }

  .imageContainer {
    padding: 12px;
  
  }

  .body{
    background-color:var(--BCOLOR);
  }

/* content */
/* work */

.content{
  padding: 65px;
}
.work h2{
  margin-top: 50px;
}

.card{
  
  margin-bottom: 50px;
  background-color: #4476b8;
  border-radius: 12px;
}


.card img {
  width: 100%;
  height:250px;
  border-radius: 12px;
  
}

 
  /* Aboutme/skills */

  .aboutme,.skills{
    margin-top: 50px;
  }


  /* contact me */

  .card-header{
    color: var(--FCOLOR);
  }
  .contact a{
    font-size: 20px;
    text-decoration: none;
    padding: 5px 10px;
    color:var(--FCOLOR);
    
  }
  .contact a:hover{
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);;
    -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    background-color:#3d3f43;
    color: #191a1f;
  }