/* Text */
h1, h2, h3 , h4, h5, h6 {
    font-family: 'Anton', sans-serif;
    color: #4f5465;
  }
  p {
    font-family: 'Jura', sans-serif;
    color: #4f5465;
  }
* {
 
    scroll-behavior: smooth;
}
  /* Navigation bar */

/* General */
.customNav {
  position: fixed;
  width: 100%;
 background-color: #657697;

  background-size: cover;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0px
}

.nav-item{
  margin: 0px 15px;
    
}

.nav-item:hover{
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);;
    -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    background-color:#5f6d83;
}



/* Jumbotron */

.jumbotron {
  background-image: url(../Images/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  }

  .body{
    background-color:#222831;
  }

/* content */
/* work */

.content{
  padding: 65px;
}

.card{
  padding: 0px 30px 30px 30px;
  margin-bottom: 50px;
  background-color: #789fd4;
  
}

/* about */
  .imageContainer img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    border: solid;
    border-width: thin;
  }

  .imageContainer {
    padding: 12px;
  
  }


  /* contact me */

  .card-header{
    color: #4f5465;
  }
  .card-body a{
    font-size: 20px;
    text-decoration: none;
    padding: 5px 10px;
    
  }
  .card-body a:hover{
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);;
    -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    background-color:#a5a7aa;
    color: #4f5465;
  }